body
{
  font-family: 'Montserrat', sans-serif;
}

.page
{

  width: 1440px;
  height: 610px;
  background-color: white;
}

.page_block
{
  width: 692px;
  height: 568px;
}


.page_tittle
{
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  margin-bottom: 30px;

}

.text1
{
  width: 220px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px rgba(189, 189, 189, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;


}

.number
{
  margin-top: 15px;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px rgba(189, 189, 189, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.text2
{
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: rgba(66, 66, 66, 1);



}

.email
{
  margin-top: 15px;
  width: 456px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px rgba(189, 189, 189, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.sub_text
{
margin-top: 25px;
}

.page_tittle1
{
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  margin-top: 50px;
}



.radio1
{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.radio11
{
  margin-top: 15px;
}

.text3
{
  color: rgba(66, 66, 66, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

}
